/* eslint-disable */
// @ts-ignore
import * as {{ namespace }} from './{{ interfaceFileName }}';

{% for type in list -%}
export function {{ type.displayLabelFuncName }}(field: {{ namespace }}.I{{ type.typeName }}) {
  return ({{ type.enumLabelType }})[field]
}

{% endfor -%}