/* eslint-disable */
// @ts-ignore
import * as {{ namespace }} from './{{ interfaceFileName }}';
{%- if isDisplayEnumLabel %}
import * as displayEnumLabels from './{{ displayEnumLabelFileName }}';
{%- endif %}
{%- if isDisplayTypeLabel %}
import * as displayTypeLabels from './{{ displayTypeLabelFileName }}';
{%- endif %}
{%- if isGenJsonSchemas %}
import * as schemas from './{{ schemaFileName }}';
{%- endif %}
{% for api in list -%}
import * as {{ api.controllerName }} from './{{ api.fileName }}';
{% endfor -%}

export {
  {{ namespace }},
  {%- if isDisplayEnumLabel %}
  displayEnumLabels,
  {%- endif %}
  {%- if isDisplayTypeLabel %}
  displayTypeLabels,
  {%- endif %}
  {%- if isGenJsonSchemas %}
  schemas,
  {%- endif %}
  {% for api in list -%}
  {{ api.controllerName }},
  {% endfor -%}
}
